* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  position: relative;
}

.main::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  background: black;
  opacity: 0.3;
}
.main::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  background-image: linear-gradient(to top, black, transparent);
}
